.footer {
  color: $color-white;
  &__heading {
    font-size: 2rem;
    text-transform: uppercase;
    color: inherit;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__item {
    transform: scale(1);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    color: $color-text;
    color: inherit;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.2s;
  }

  &__item:hover {
    color: $color-primary;
    transform: scale(1.05);
  }
}

.copyright {
  font-size: 1.6rem;
  grid-column: 2 / 4;
}
